# **** neos additions ****

on boot
    setenforce 0
    setprop neos.termux_ready 0

on post-fs-data
    start neos-setup
    # after prop
    wait_for_prop neos.termux_ready 1
    # ramdisk not persistent
    symlink /data/data/com.termux/files/usr /usr
    symlink /data/data/com.termux/files/tmp /tmp
    # execute
    start sshd

on property:sys.boot_completed=1

service neos-setup /system/bin/neos-setup
    class late_start
    user root
    group root
    oneshot
    disabled

service sshd /system/bin/neos-ssh
    user root
    group root
    oneshot
    disabled

service neos-main /data/data/com.termux/files/usr/bin/tmux new-session -s comma -d /system/bin/neos-main
   user root
   group root
   setenv LD_LIBRARY_PATH /data/data/com.termux/files/usr/lib
   setenv PATH /usr/local/bin:/data/data/com.termux/files/usr/bin:/data/data/com.termux/files/usr/sbin:/data/data/com.termux/files/usr/bin/applets:/bin:/sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
   setenv HOME /data/data/com.termux/files/home
   oneshot
   disabled